.marqueeContainer {
  background: rgb(42, 41, 47);
  height: 54px;
  width: 100%;
  overflow: hidden
}

.marqueeText {
  color: white;
  transform: translateX(100%);
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}