.contentsTitle {
 
 height: auto;
 padding-left: 20px;
 font-family: "Untitled Sans", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "hiragino-kaku-gothic-pron", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
 font-size: 26pt;
 font-weight: 400;
}


@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animatedChar {
    display: inline-block;
    animation: slideUp 0.5s ease forwards;
    opacity: 0; /* アニメーションが始まる前は透明 */
  }