.header {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  background: rgb(255, 255, 255);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  height: 48px;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
}

.logoTitle {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15pt;
  color: inherit;
  display: block;
  text-decoration: none;
}

.IconsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
  
.Icon {
  fill: #595959;
  width: 28px; 
  height: 28px; 
  margin-right: 10px;
}

.Icon:hover {
 fill: #8cabdb; 
}

.socialIcon:last-child {
  margin-right: 0;
}



